channels==3.0.4
Django==3.2.16
django-countries==5.3.3
django-cors-headers==3.10.1
django-dotenv==1.4.2
django-phonenumber-field==2.2.0
django-rest-swagger==2.1.2
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
gunicorn==19.7.1
phonenumbers==8.11.5
pillow==5.4.1
psycopg2-binary==2.9.4
whitenoise==3.3.1
