channels==2.4.0
Django==3.1.12
django-cors-headers==3.2.1
django-dotenv==1.4.2
django-phonenumber-field==4.0.0
django-rest-swagger==2.2.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
gunicorn==20.0.4
phonenumbers==8.11.5
pillow==7.0.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
pycountry==19.8.18
pytest==5.4.1
whitenoise==5.0.1